# Entorno virtual
venv/
env/
*.pyc
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y bases de datos locales
*.log
*.sqlite3
*.db

# Archivos de configuración temporales
*.env
instance/
*.bak

# Carpeta de migraciones si usas Flask-Migrate
migrations/

# IDEs
.vscode/
.idea/

# Archivos de Python egg / dist
*.egg-info/
dist/
build/

# Node modules si usas npm / frontend
node_modules/
